* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 80, 80);
    padding: 10px;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav ul li {
    padding: 20px;
    font-size: x-large;
}

.selfie { 
    height: 375px;
    width: 250px; 
    border: 2px solid; 
    margin-right: 5%;
}
.herobanner {
    background-color: rgb(243, 45, 71);
    display: flex;
}

